.DS_Store

_site
.vagrant
.sass-cache
.jekyll-cache
.jekyll-metadata
.bundle
vendor
*.bak
*.swp
*.lock
!Gemfile.lock

_includes/commit_tree.md
_vinyls/*
!_vinyls/.gitkeep
assets/vinyl_covers/
!assets/vinyl_covers/.gitkeep
bin/
