.DS_Store

_site
.vagrant
.sass-cache
.jekyll-cache
.jekyll-metadata
.bundle
vendor
*.bak
*.swp
*.lock
!Gemfile.lock

_vinyls/*
!_vinyls/.gitkeep
!_vinyls/*.md.overwrite

assets/vinyl_covers/*
!assets/vinyl_covers/.gitkeep
!assets/vinyl_covers/*.overwrite.jpg

bin/.env
