<div class="legal-disclaimer">
  <div class="lang-nav d-emoji">
    <a href="{{ '/terms-and-conditions/' | prepend: site.baseurl_root }}">🇬🇧</a> /
    <a href="{{ '/pl/terms-and-conditions/' | prepend: site.baseurl_root }}">🇵🇱</a>
  </div>

  <br>

  <h1 class="page-title">
      Change history - <a href="{{ page.legal_parent_url | relative_url }}">{{ page.legal_parent_title }}</a>
  </h1>
  <br>

  {% if page.legal_changelog_entries_html and page.legal_changelog_entries_html != '' %}
    {{ page.legal_changelog_entries_html }}
  {% else %}
    <p> No change history available.</p>
  {% endif %}
</div>