<div id="contact-form-alert" class="alert" style="display: none"></div>
<form class="contact-form" id="contact-form" method="POST">
    <div class="wrap-input">
        <input class="input" id="contact-form-nameInput" type="text" name="name" placeholder="Full Name" required>
    </div>

    <div class="wrap-input">
        <input class="input" id="contact-form-replyToInput" type="email" name="_replyto" placeholder="Email" required>
    </div>

    <div class="wrap-input">
        <input class="input" id="contact-form-subjectInput" name="subject" placeholder="Message subject" required>
    </div>

    <div class="wrap-input">
        <textarea class="input" id="contact-form-messageInput" name="message" placeholder="Your Message"
            required></textarea>
    </div>

    <input type="hidden" name="recaptcha-token" id="contact-form-recaptcha-token" class="g-recaptcha-response-token">
    <input type="hidden" name="csrf_token" id="csrf_token">

    <div class="container-contact-form-btn">
        <button class="contact-form-btn btn-enable-on-input" id="contact-form-btn">
            <i class="fas fa-paper-plane"></i> &nbsp; Send Email
        </button>
    </div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        fetch('/api/csrf_token_gen.php')
            .then(res => res.json())
            .then(data => {
                document.getElementById('csrf_token').value = data.csrf_token;
            })
            .catch(err => {
                console.error('CSRF token fetch error:', err);
            });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lcf9fcUAAAAACKHtt-sjuyyzPxMJUaA4SS8ndG7"></script>
<script src="/assets/js/contactform.min.js?{{ site.time | date: '%s%N' }}"></script>