@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:400,700';

/**
body {
  font: 16px/1.5em 'Roboto Mono', 'Consolas', 'Andale Mono', 'Monaco', 'Courier New', Courier, monospace;
  padding: 1ch;
  margin: 0;
}
*/

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 0;
  font-size: 100%;
  line-height: 1.5em;
  background: white;
  color: black;
  margin: 0 auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
  max-width: 45em;
  font-family: 'Roboto Mono';
}

main {
  box-sizing: border-box;
  padding: 1ch 0 2ch;
}
code {
  background-color: #222;
  color: #fff;
  padding: 2px 3px;
}
h1 {
  font-size: 1em;
  font-weight: 700;
}
h1, .timestamp {
  margin: 0;
}
a {
  color: blue;
  background-image: linear-gradient(to bottom,blue 75%,blue 75%);
  text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 96%;
  text-decoration: none;
}
.heading a {
  color: black;
  background-image: linear-gradient(to bottom,black 75%,black 75%);
}
.heading {
  margin: 0 0 2ch;
  padding: 0;
}
article.txt p {
  white-space: pre-wrap;
}
header p {
  font: 20px/1.75em 'Roboto Mono';
  margin: 1.5em 0;
}
.username a {
  text-shadow: none;
  background-image: none;
  background-color: #333;
  color: #EEE;
  padding: 1ch;
  border: 0;
}
.avatar-wrapper {
  width:300px;
  height:300px;
  margin: 25px auto;
  overflow: hidden;
  border-radius:50%;
  position: relative;
}
  
.avatar-wrapper img {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%)
}
hr {
  border: 1px solid #ECECEC;
}
p {
  margin: 1.5em 0;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}
pre {
  padding: 1ch;
  background-color: #f4f4f4;
  overflow-x: auto;
}
ul, ol {
  padding-left: 0;
}
li > ul, li > ol {
  padding-left: 2ch;
}
blockquote {
  font-style: italic;
  margin: 1.5em 2ch;
}
img {
  max-width:100%;
}
footer a {
  color: lightgrey;
  background-image: linear-gradient(to bottom,lightgrey 75%,lightgrey 75%);
}
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.contact-form {
  width: 100%;
}

.wrap-input {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  margin-bottom: 17px;
}

.input {
  display: block;
  width: 100%;
  background: transparent;
  font-family: 'Roboto Mono';
  font-size: 15px;
  color: #1b3815;
  line-height: 1.2;
}


input.input {
  height: 62px;
  padding: 0 20px 0 23px;
}


textarea.input {
  min-height: 199px;
  padding: 19px 20px 0 23px;
}

.contact-form-checkbox {
  padding-top: 12px;
  padding-bottom: 28px;
}

.input-checkbox {
  display: none;
}

.label-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  font-family: 'Roboto Mono';
  font-size: 15px;
  color: #1b3815;
  line-height: 1.2;
  margin: 0;
}

.label-checkbox::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 15px;
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 22px;
  height: 22px;
  border: 1px solid #e6e6e6;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox:checked + .label-checkbox::before {
  color: #57b846;
}

.container-contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-top: 13px;
}

.contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;

  font-family: 'Roboto Mono';
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  padding-top: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.btn-enable-on-input {
  background-color: #57b846;
}
.btn-enable-on-input:hover {
  background-color: #1b3815;
}

.btn-disable-on-input {
  background-color: #1b3815;
}

/* Alerts for forms */
.alert {
  background-color: #eee;
  color: #000;
border-radius: 4px;
padding: 20px;
  margin-bottom: 15px;
opacity: 1;
  transition: opacity 0.4s;
}
.alert-close {
  margin-left: 15px;
  color: #bbb;
float: right;
font-size: 22px;
font-weight: bold;
line-height: 20px;
  cursor: pointer;
}
.alert-close:hover {
  color: #000;
} 

/* Alerts */
.alert-red .alert-close, .alert-pink .alert-close,
.alert-purple .alert-close, .alert-indigo .alert-close,
.alert-blue .alert-close, .alert-cyan .alert-close,
.alert-teal .alert-close, .alert-green .alert-close,
.alert-orange .alert-close, .alert-brown .alert-close,
.alert-bgray .alert-close {
	color: #fff;
}
/* Red */
.alert-red {
	background-color: #E57373 !important;
	color: #fff !important;
}
/* Pink */
.alert-pink {
	background-color: #F06292 !important;
	color: #fff !important;
}
/* Purple */
.alert-purple {
	background-color: #BA68C8 !important;
	color: #fff !important;
}
/* Indigo */
.alert-indigo {
	background-color: #7986CB !important;
	color: #fff !important;
}
/* Blue */
.alert-blue {
	background-color: #64B5F6 !important;
	color: #fff !important;
}
/* Cyan */
.alert-cyan {
	background-color: #4DD0E1 !important;
	color: #fff !important;
}
/* Teal */
.alert-teal {
	background-color: #4DB6AC !important;
	color: #fff !important;
}
/* Green */
.alert-green {
	background-color: #81C784 !important;
	color: #fff !important;
}
/* Orange */
.alert-orange {
	background-color: #FFB74D !important;
	color: #fff !important;
}
/* Brown */
.alert-brown {
	background-color: #A1887F !important;
	color: #fff !important;
}
/* Blue gray */
.alert-bgray {
	background-color: #90A4AE !important;
	color: #fff !important;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  flex: 3;
  justify-content: center;
}

.navigation .user {
  flex: 1;
}

@media screen and (min-width:1367px) {
  hr {
    border: 4px solid #ECECEC;
  }
}

@media all and (max-width: 1000px) {
  .navigation ul {
     flex-wrap: wrap;
  }
  
  .navigation li {
     flex: 1 1 50%;
  }

  .navigation .user {
     flex: 1 1 33.33%;
  }
}

@media all and (max-width: 480px) {
  .navigation li {
     flex-basis: 100%;
  }

  .navigation .user {
     flex-basis: 50%;
  }
}
