---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

<head>
  {% include site-head.html %}
  {{ page.extra_head }}
</head>

<body>
  {% include site-header.html %}

  <div class="content" id="container">
    {{ content }}
  </div>

  {% include site-footer.html %}

  <script src="https://cdn.masiarek.pl/bootstrap/v5.3.8/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"
    defer></script>

  {% include site-analytics.html %}
  {% include analytics-helper.html %}
  {% include site-scripts.html %}

  {{ page.extra_body }}
</body>

</html>