---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, shrink-to-fit=no">
  <title>
      {% if page.title %}
          {% if page.title != 'About me' %}
              {{ page.title }} - 
          {% endif %}
      {% endif %}
      {{ site.title }}
  </title>
  <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />

  <link rel="canonical" href="{{ page.url | prepend: site.url }}">
  <link href="{{ site.url }}{{ site.baseurl }}assets/css/style.min.css?{{ site.time | date: '%s%N' }}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cc759ba0dc.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <p class="username"><a href="{{ site.url }}{{ site.baseurl }}" target="_self">{{ site.title }}</a>{% if page.icon %} <i class="{{ page.icon }}"></i>{% endif %}</p>
  </header>
  <div class="content" id="container">
      {{ content }}
  </div>
  <footer>
    <nav class="navigation">
      <ul>
        {% if page.title != 'About me' %}
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}" style="border:0">Home</a>
          </li>
        {% endif %}
        {% if page.title != 'Contact' %}
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}contact" style="border:0">Contact</a>
          </li>
        {% endif %}
        {% if site.gitlab != '' %}
          <li>
            <a href="{{ site.gitlab }}" style="border:0;text-decoration:none" target="_blank"><i class="fab fa-gitlab"></i>  Gitlab</a>
          </li>
        {% endif %}   
        {% if site.linkedin != '' %}
          <li>
            <a href="{{ site.linkedin }}" style="border:0;text-decoration:none" target="_blank"><i class="fab fa-linkedin-in"></i>  Linkedin</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </footer>
</body>
</html>
