---
layout: default-bootstrap
---

<div class="hero" id="hero">
    <img src="/assets/img/logo_cleaned_strict.png" alt="I Love Open Source" class="logo">
    <h1 class="mt-4">My Open Source Projects</h1>
    <p class="lead">A curated list of contributions, experiments and libraries I've shared with the world.</p>
</div>

<div class="container main-content">
    <div class="filter-bar text-center" id="language-filter"></div>
    <div class="row" id="projects-container">
        <!-- GitHub project cards will be inserted here -->
    </div>
</div>

<script src="/assets/js/projects.js?{{ site.time | date: '%s%N' }}"></script>
