---
layout: base
---

<div class="legal-disclaimer">
  <div class="lang-nav d-emoji">
    <a href="{{ '/terms-and-conditions/' | prepend: site.baseurl_root }}">🇬🇧</a> /
    <a href="{{ '/pl/terms-and-conditions/' | prepend: site.baseurl_root }}">🇵🇱</a>
  </div>
  <br>
  <h1 class="page-title">{{ page.title }}</h1>
  <br>
  {{ content }}
  <br>
  <p class="last-modified-at">
    {% if page.lang == 'pl' %}Ostatnia zmiana:{% else %}Last modification:{% endif %}
    <a href="{{ page.legal_last_changes_url | relative_url }}">
      {{ page.legal_last_modified_at | date: '%d-%B-%Y %R' }}
    </a>
  </p>
  <br>
</div>