---
layout: default-bootstrap
---

<div class="container my-5">
  <h1 class="mb-4">{{ page.title }}</h1>
  <div id="vinyl-grid" class="row g-4">
    {% for vinyl in site.vinyls %}
    <div class="col-md-4">
      <a href="{{ vinyl.url }}" class="text-decoration-none text-dark">
        <div class="card h-100 shadow-sm vinyl-card">
          {% if vinyl.artist and vinyl.title %}
          {% assign full_title = vinyl.artist | append: '-' | append: vinyl.title %}
          {% assign slug = full_title | slugify %}
          {% assign cover_path = '/assets/vinyl_covers/' | append: slug | append: '.jpg' %}
          <img src="{{ cover_path }}"
            onerror="this.onerror=null;this.src='https://placehold.co/600x600?text=Brak+okładki';" class="card-img-top"
            alt="{{ vinyl.title }}">
          {% else %}
          <img src="https://placehold.co/600x600?text=Brak+okładki" class="card-img-top" alt="Brak danych">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ vinyl.title }}</h5>
            <p class="card-text">{{ vinyl.artist }} ({{ vinyl.year }})</p>
            <p class="card-text small text-muted">{{ vinyl.description | truncatewords: 15 }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

</div>